body {
    margin: 0;
    font-family: -apple-system, "Lexend", sans-serif;;
    background: #f5f5f5;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    height: auto;
    padding: 40px 20px;
}

.profileContent {
    background: #ffffff;
    width: 900px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.profileHeader h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #222;
    text-align: center;
}

.profileInfos {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 25px 40px;
}

.profileInfo {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.profileInfo h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    color: #444;
}

.profileInfo p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
}

@media (max-width: 992px) {
    .profileContent {
        width: 100%;
        padding: 30px;
    }

    .profileInfos {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .profileHeader h1 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .mainContent {
        padding: 20px 10px;
    }

    .profileContent {
        padding: 20px;
        border-radius: 12px;
    }

    .profileHeader h1 {
        font-size: 1.6rem;
    }

    .profileInfo h2 {
        font-size: 1rem;
    }

    .profileInfo p {
        font-size: 0.9rem;
    }
}